# {{ ansible_managed }}
# This is Git's per-user configuration file.

[user]
        name = {{ identity.name }}
        email = {{ identity.email }}

[core]
        excludesfile = {{ lookup('env','HOME') }}/.gitignore
        autocrlf = input
